---
apiVersion: v1
kind: Service
metadata:
  name: ecommerce-arka-project-kafka
  labels:
    
    ecommerce-arka-project.io/name: ecommerce-arka-project-kafka
    app.kubernetes.io/instance: ecommerce-arka-project
    app.kubernetes.io/component: kafka
    app.kubernetes.io/name: ecommerce-arka-project-kafka
    app.kubernetes.io/version: "1.12.0"
    app.kubernetes.io/part-of: ecommerce-arka-project
spec:
  type: ClusterIP
  ports:
    - port: 9092
      name: plaintext
      targetPort: 9092
    - port: 9093
      name: controller
      targetPort: 9093
  selector:
    
    ecommerce-arka-project.io/name: ecommerce-arka-project-kafka
