---
apiVersion: v1
kind: Service
metadata:
  name: ecommerce-arka-project-paymentservice
  labels:
    
    ecommerce-arka-project.io/name: ecommerce-arka-project-paymentservice
    app.kubernetes.io/instance: ecommerce-arka-project
    app.kubernetes.io/component: paymentservice
    app.kubernetes.io/name: ecommerce-arka-project-paymentservice
    app.kubernetes.io/version: "1.12.0"
    app.kubernetes.io/part-of: ecommerce-arka-project
spec:
  type: ClusterIP
  ports:
    - port: 8080
      name: tcp-service
      targetPort: 8080
  selector:
    ecommerce-arka-project.io/name: ecommerce-arka-project-paymentservice
